<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodiatryAR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A511C5462FE630A300BB83B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A511C5552FE630A600BB83B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A511C55F2FE630A600BB83B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
